# Vendor
node_modules
package-lock.json
vendor/*
!vendor/composer
!vendor/autoload.php
!vendor/typerocket
vendor/typerocket/core/assets
vendor/typerocket/core/templates

# Environment
npm-debug.log
yarn-error.log
/galaxy-config.php

# Source Maps
*.css.map
*.js.map

# OS
*~
.DS_Store*
ehthumbs.db
Thumbs.db

# IDE
.idea
.settings
.project
.build
.vscode

# File Types
*.log
*.zip
.svn